<app-adminsidebar></app-adminsidebar>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
      <div class="card">
          <div class="header row">
              <h4 class="title col-md-6">Book Suggestions</h4>

              
              
              <!--p class="category">Here is a subtitle for this table</p-->
          </div>
          <br>
          <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped" style="align-content: center">
                  <thead>
                    <th>#</th>
                    <th>Book Name</th>
                    <th>Author name</th>
                    <th>Suggested by</th>
                  </thead>
                  <tbody>
                    
                    <!--tr *ngFor="let item of this.bookData"-->
                    <tr *ngFor="let item of this.sgstData; index as i">
                      <td>{{i+1}}</td>
                      <td>{{item.bookname}}</td>
                      <td>{{item.authorname}}</td>
                      <td>{{item.username}}</td>
                      
                      
                    </tr>
                     
                  </tbody>
              </table>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
