<app-usersidebar></app-usersidebar>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
      <div class="card">
          <div class="header row">
              <h4 class="title col-md-8">Book Details</h4>
              <button class="btn btn-info btn-filled col-md-2">Requested Books</button>
              <!--p class="category">Here is a subtitle for this table</p-->
          </div>
          <br>
          <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped" style="align-content: center">
                  <thead>
                    <th class="col-md-1">Book no</th>
                    <th class="col-md-2">Book Name</th>
                    <th class="col-md-2">Subject</th>
                    <th class="col-md-2">Author name</th>
                    <th class="col-md-1">ISBN No</th>
                    <!--th class="col-md-1">No of copies</th-->
                    <th class="col-md-2">Request</th>
                  </thead>
                  <tbody>
                    <!--tr>
                      <td>1</td>
                      <td>Hound of the Baskerwills</td>
                      <td>Novels</td>
                      <td>Sir Arthur Conan Doyle</td>
                      <td>ISBN - 3245</td>
                      <td>5</td>
                      <td>
                        <button class="btn btn-success">Request</button>
                      </td>
                    </tr-->

                    <!--tr *ngFor="let item of this.bookData"-->
                    <tr *ngFor="let item of this.bookData">
                      <td>{{item._id}}</td>
                      <td>{{item.bookname}}</td>
                      <td>{{item.subject}}</td>
                      <td>{{item.authorname}}</td>
                      <td>{{item.isbn_no}}</td>
                      <!--td>{{item.copies}}</td-->
                      <td>
                        <button class="btn btn-success" (click)="requestBk(item)">Request</button>
                      </td>
                    </tr>
                     
                  </tbody>
              </table>

          </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--
  aSSIGN BOOKS
-->
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header row">
        <h4 class="modal-title col-md-11">Request Book</h4>
        <!--button type="button col-md-1" class="btn btn-danger" (click)="onCloseHandled()">
          <span aria-hidden="true">&times;</span>
        </button-->
        
          
      </div>
      <div class="modal-body container col-md-12">

        <!-- Form body -->

        <p>
          You requested this book..
        </p>
        
      </div>

      <div class="modal-footer">
        <!--<button type="button" class="btn btn-info" (click)="onCloseHandled()">No</button>-->
        <button type="button" class="btn btn-info" (click)="onCloseHandled()">Okay</button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->

