<app-usersidebar></app-usersidebar>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
      <div class="card">
          <div class="header row">
              <h4 class="title col-md-8">Borrowings Details</h4>
              <!--button class="btn btn-info btn-filled col-md-2">Requested Books</button-->
              <!--p class="category">Here is a subtitle for this table</p-->
          </div>
          <br>
          <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped" style="align-content: center">
                  <thead>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Book Name</th>
                    <th class="col-md-2">Taken Date</th>
                    <th class="col-md-2">Due Date</th>
                    <th class="col-md-2">ISBN No</th>
                    <!--th class="col-md-1">No of copies</th>
                    <th class="col-md-2">Request</th-->
                  </thead>
                  <tbody>
                    

                    <tr *ngFor="let item of this.borrowdet; index as i">
                      <td>{{i+1}}</td>
                      <td>{{item.bookname}}</td>
                      <td>{{item.takendate}}</td>
                      <td>{{item.duedate}}</td>
                      <td>{{item.isbn_no}}</td>
                      <!--td>{{item.copies}}</td-->
                      <!--td>
                        <button class="btn btn-success" (click)="requestBk(item)">Request</button>
                      </td-->
                    </tr>
                     
                  </tbody>
              </table>

          </div>
      </div>
    </div>
  </div>
</div>
</div>