<app-usernavbar></app-usernavbar>

<br>

<base href="../../../">

<div class="wrapper col-md-3">
  <div class="sidebar" data-color="blue" data-image="assets/userassets/img/sidebar-6.jpg">

  <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="" class="simple-text">
                UCSC Library <br> User Profile
            </a>
        </div>

          <ul class="nav">
             
              <li>
                  <a [routerLink]="['/userProfile']">
                      <i class="pe-7s-user"></i>
                      <p>User Profile</p>
                  </a>
              </li>
              <li>
                    <a [routerLink]="['/books']">
                      <i class="pe-7s-note2"></i>
                      <p>Our books</p>
                  </a>
              </li>
              <li>
                    <a [routerLink]="['/myborrw']">
                      <i class="pe-7s-news-paper"></i>
                      <p>My Borrowings</p>
                  </a>
              </li>
              <li>
                  <a [routerLink]="['/userFines']">
                      <i class="pe-7s-science"></i>
                      <p>Fines</p>
                  </a>
              </li>
              <!--li>
                  <a href="">
                      <i class="pe-7s-map-marker"></i>
                      <p>Maps</p>
                  </a>
              </li>
              <li>
                  <a href="">
                      <i class="pe-7s-bell"></i>
                      <p>Notifications</p>
                  </a>
              </li>
      <li class="active-pro">
                  <a href="">
                      <i class="pe-7s-rocket"></i>
                      <p>Upgrade to PRO</p>
                  </a>
              </li-->
          </ul>
    </div>
  </div>

